page-otpscreen {
    input[type=number]::-webkit-inner-spin-button, 
    
    input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
    }
    .scroll-content {
        background: $core-login-box-background-color;
        background-image: url($login-bg);
        background-repeat: no-repeat;
        background-size: cover;
        color: $white;
    }
    img {
        max-width: 100%;
    }

    img.login-logo {
        max-width: 120px;
        margin-top: 15px;
    }

    .box {
        padding: 16px;
        margin: 8px;
        color: $white;
    }

    .core-sitename, .core-siteurl {
        @if $core-fixed-url { display: none; }
    }

    .item-input {
        margin-bottom: 20px;
    }

}
