ion-app.app-root page-pf-login-credentials {
    .scroll-content {
        background: $core-login-box-background-color;
        background-image: url($login-bg);
        background-repeat: no-repeat;
        background-size: cover;
        color: $white;
    }

    img {
        max-width: 100%;
    }

    img.login-logo {
        max-width: 120px;
        margin-top: 15px;
    }

    .box {
        padding: 16px;
        margin: 8px;
        color: $white;
    }

    .core-sitename, .core-siteurl {
        @if $core-fixed-url { display: none; }
    }

    @if $core-login-button-outline {
        .button-md.button-default-md, .button-ios.button-default-ios {
            @extend .button-md-light;
        }
    }

    @if $core-login-loading-color {
        .core-loading-container {
            color: $white;

            .spinner circle, .spinner line {
                stroke: $core-login-loading-color;
            }
        }
    }

    .item-input {
        margin-bottom: 0px;
        padding-left: 0;
        border-radius: 6px;
    }
    .item-input:nth-of-type(odd) {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .item-input:nth-of-type(even) {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }    
    .item-md.item-block .item-inner {
        padding-right: 0;
    }
    .removebg {
        background: none;
        box-shadow: none;
    }
    .removepd {
        padding: 0;
        margin: 0;
    }
}
